body{
    background-color: #0c3458;
}
.linea_barra{
    background-color: #cccccc;
    width: 100%;
    height: 0.1px;
    top: 56px;
    position: absolute;
    display: flex;
}
.nav-item-sobre:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-proyectos:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-contactanos:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-iniciar{
    background-color: #cfcfcf;
}
.tus_chats{
    background-color:#fff;
    color: black;
    border-radius: 0px;
    margin-top: -0.05rem;
    margin-left: rem;
    width: 22rem;
    border: #fff solid 0.1rem;
}
.tus_chats:hover{
    background-color:#fff;
    color: black;
}
.lista_chats{
    width: 22rem;
}
.elementos_chats{
    border-radius: 0px;
}
.mb-1{
    font-size: 1.1rem;
}
.mb-11{
    font-size: 1.1rem;
    padding-left: 34%;
}
.img_perfil{
    width: 8rem;
    height: 8rem;
    z-index: +1;
    margin-top: 2rem;
    margin-left: 54rem;
}
.persona{
    font-size: 1.8rem;
    margin-left: 48rem;
    margin-top: 1.3rem;
    color: #fff;
}
.fecha{
    margin-left: 56rem;
    margin-top: 2rem;
    color: #fff;
}
.img_perfil_2{
    width: 5rem;
    height: 5rem;
    margin-top: 5rem;
    margin-left: 30rem;
}
.mensaje{
    background-color: #fff;
    color: rgb(84, 84, 84);
    width: 40rem;
    height: 3rem;
    margin-left: 38rem;
    margin-top: -4rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}
.escribe{
    background-color: #fff;
    width: 55rem;
    height: 3rem;
    margin-left: 30rem;
    margin-top: 15rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: solid white;
}
.send{
    width: 3rem;
    color: black;
    margin-left: -4rem;
    margin-top: -0.2rem;
}
.emoji{
    width: 3rem;
    margin-left: 30rem;
    margin-top: 1rem;
}
.insertar{
    width: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.bottom{
    background-color: #0c3458;
    margin-top: 6rem;
}