h1{
    color: #0c3458;
    display:flex;
    margin-top: 30px;
    font-size: 60px;
    margin-left: 30%;
    text-align: center;
}
.Cuadro_azul{
    background-color: #0c3458;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 600px;  
    z-index: -1;
}
.cuadro_info{
    margin-left: 6%;
    background-color: white;
    width: 850px;
    height: 500px;
    margin-top: 148px;
    z-index: +1;
    border: solid #0c3458 10px;
}
.pie_pagina{
    background-color: #282828;
    position: absolute;
    display: flex;
    width: 100%;
    height: 400px;
    top: 1148px;
    color: #fff;
}
.contactanos{
    color: #ffffff;
    margin-left: 190px;
    margin-top: 80px;
    font-size: 30px;
}
.direccion{
    background-color: #282828;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;    
    padding-top: 10px;
    padding-left: 65px;
    margin-left: 140px;
    margin-top: 50px;
}
.direccion_img{
    margin-left: 160px;
    margin-top: -85px;
}
.correo{
    background-color: #282828;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;    
    padding-top: 10px;
    padding-left: 80px;
    margin-left: 140px;
    margin-top: 10px;
}
.correo_img{
    margin-left: 160px;
    margin-top: -85px;
}
.horario_text{
    color: #ffffff;
    margin-left: 230px;
    margin-top: 80px;
    font-size: 30px;
}
.horario{
    background-color: #282828;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 60px;  
    color: #ffffff;
    font-size: 15px;    
    padding-top: 15px;
    padding-left: 70px;
    margin-left: 150px;
    margin-top: 50px;
}
.horario_img{
    margin-left: 170px;
    margin-top: -95px;
    z-index: +1;
}
.redes_text{
    color: #ffffff;
    margin-left: 170px;
    margin-top: 80px;
    font-size: 30px;
    z-index: +1;
}
.logo_facebook{
    margin-left: 42%;
    margin-top: 10%;
}
.logo_instagram{
    margin-left: 55%;
    margin-top: -15%;
}
.linea_barra{
    background-color: #cccccc;
    width: 100%;
    height: 0.1px;
    top: 56px;
    position: absolute;
    display: flex;
}
.plan_estudios{
    background-color: #0c3458;
    position: absolute;
    z-index: +1;
    margin-left: 77%;
    top: 342px;
    width: 230px;
    height: 50px;
}
.img{
margin-top: 70px;
margin-left: 25%;
width: 700px;
height: 170px;
}
.subtitulo_1{
    color: #fff;
    font-size: 20px;
    margin-left: 15%;
    top: 20px;
    margin-top: 13px;
}
.perfil_estudiante{
    background-color: #0c3458;
    position: absolute;
    z-index: +1;
    margin-left: 77%;
    top: 450px;
    width: 230px;
    height: 50px;
}
.subtitulo_2{
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin-left: 0%;
    margin-top: 10px;
}
.oportunidades_laborales{
    background-color: #ffffff;
    position: absolute;
    z-index: +1;
    margin-left: 77%;
    top: 650px;
    width: 230px;
    height: 50px;
}
.subtitulo_3{
    color: #0c3458;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    margin-top: 2px;  
}
.reseñas{
    background-color: #ffffff;
    position: absolute;
    z-index: +1;
    margin-left: 77%;
    top: 770px;
    width: 230px;
    height: 50px;
}
.subtitulo_4{
    color: #0c3458;
    font-size: 20px;
    text-align: center;
    margin-left: 0%;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.nav-item-sobre:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-proyectos:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-contactanos:hover{
    background-color: #cfcfcf;
    color: #fff;
}
.nav-item-iniciar{
    background-color: #cfcfcf;
}