body{
    background-color: #0c3458;
}
.cuadro_blanco{
    background-color: white;
    width: 50%;
    height: 650px;
    margin-left: 25%;
    margin-top: 190px;
    position: static;
}
.text_iniciar{
    color: rgb(82, 82, 82);
    padding-top: 70px;
    font-size: 3.5rem;
    padding-left: 27%;
}
.bottom{
    background-color: #0c3458;
    margin-top: 350px;
}
.correo{
        margin-left: 22.5%;
        margin-top: 5rem;
        width: 25rem;
        height: 4rem;
        border: solid rgb(176, 176, 176);
        border-radius: 0.3rem;
        font-size: 1.8rem;
        padding-left: 1rem;
}
.contraseña{
    margin-left: 22.5%;
    margin-top: 2rem;
    width: 25rem;
    height: 4rem;
    border: solid rgb(176, 176, 176);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    padding-left: 1rem;
}
.ingresa{
    background-color: rgb(176, 176, 176);
    color: white;
    margin-left: 22.5%;
    margin-top: 2rem;
    width: 25rem;
    height: 4rem;
    border: solid rgb(176, 176, 176);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    padding-left: 1rem;
}
.olvidaste{
    font-size: 1.5rem;
    margin-left: 30%;
    margin-top: 2rem;
    color: rgb(176, 176, 176);
}

a{
    text-decoration: none;
    color: white;
}
.volver{
    background-color: rgb(176, 176, 176);
    margin-left: 25%;
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    border: solid rgb(176, 176, 176);
    border-radius: 0.3rem;
    color: white;
    
}
.text_volver:hover{
    color: white;
}